<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" class = "hvr-skew-forward">Home</a></li>
		        	<li><a href="/Projects" class = "hvr-skew-forward">Projects</a></li>
	        		<li><a href="https://drive.google.com/file/d/12_UHtFv5kWY-Er-mcltA-A4D0g0xJaIT/view?usp=sharing" target = "_blank" class = "hvr-skew-forward">CV</a></li>
	     
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:india.kerle@sciencespo.fr" class = "hvr-skew-forward">email</a></li>
	        		<li><a href="https://medium.com/@KerleIndia" class = "hvr-skew-forward" target="_blank">medium</a></li>
				<li><a href="https://www.linkedin.com/in/india-kerle-13133789/" class = "hvr-skew-forward" target="_blank">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
